body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 11px !important;
  color: white !important;
}
div.container {
  background-color: #604896;
  padding-top: 4px;
  padding-bottom: 4px;
}
button {
  width:29px;
}
div.row{
  padding-left: 4px;
}

div.top-left {
  padding-left: 0px;
}
div.top-right {
  padding-right: 4px;
}

button.top-right {
  float:right;
}

button.btn-sample{
  background-color: #e6e6e6;
}
